@model Employee
<div class="card mt-0">
    <div class="card-header">
        <div class="col">
            <h4 class="text-center">Registration Successfull</h4>
            <br />
            <h5 class="text-center">
@DateTime.Now.ToLongDateString()
            </h5>
            <hr />
            <div class="row">
                <div class="col-12">
                  @*  <h6>Hello @Model.FirstName @Model.LastName,</h6>
                    <br />
                    <h5 class="text-center">Thank for Registration</h5>
                    <br />
                    <p>We will send you other datails sonly.. on your @Model.Email shortly.</p>*@
                    <br />
                    <hr />
                    <h5 class="text-center bg-secondary">
                        Welcome to on my site
                    </h5>
                    <h6>Customer SDervice</h6>
                </div>

            </div>
        </div>
    </div>
</div>
